[submodule "Counter/lib/forge-std"]
	path = Counter/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "hello_foundry/lib/forge-std"]
	path = hello_foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
