/node_modules

*.local

# rocketh
generated
deployments/localhost
deployments/hardhat*
deployments/lan
deployments/default
_metadata

# hardhat
/coverage
/coverage.json
/.coverage-config.json
/.coverage-data.json
cache
artifacts
docs

dist/